In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

STARTING_CASH = 100000
ALLOWED_DRIFT = 0.05
relative_path = 'C:/Users/Tiger/PycharmProjects/BettermentCaseStudy'

returns_df = pd.read_csv(relative_path + '/portfolio_returns.csv', index_col=0, parse_dates=True)
tickers = returns_df.columns
dates = returns_df.index
initial_weights = pd.DataFrame(dict(zip(tickers, [0.25, 0.25, 0.125, 0.125, 0.04, 0.035, 0.125, 0.05])), index=[dates[0]])
initial_weights

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>eem</th>
      <th>efa</th>
      <th>ive</th>
      <th>iwn</th>
      <th>iws</th>
      <th>shy</th>
      <th>tip</th>
      <th>vti</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2004-01-02</th>
      <td>0.05</td>
      <td>0.125</td>
      <td>0.125</td>
      <td>0.04</td>
      <td>0.035</td>
      <td>0.25</td>
      <td>0.25</td>
      <td>0.125</td>
    </tr>
  </tbody>
</table>
</div>

In [32]:
# NON REBALANCED PORTFOLIO
cum_returns_df = (returns_df+1).cumprod()
non_rebalance_df = (cum_returns_df * STARTING_CASH) * initial_weights.values[0]
non_rebalance_df_alloc = (non_rebalance_df.div(non_rebalance_df.sum(axis=1), axis = 0))
cum_returns_df.head(5)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>shy</th>
      <th>tip</th>
      <th>vti</th>
      <th>ive</th>
      <th>iwn</th>
      <th>iws</th>
      <th>efa</th>
      <th>eem</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2004-01-02</th>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>2004-01-05</th>
      <td>1.000148</td>
      <td>0.998616</td>
      <td>1.011336</td>
      <td>1.012441</td>
      <td>1.009501</td>
      <td>1.009284</td>
      <td>1.019006</td>
      <td>1.034969</td>
    </tr>
    <tr>
      <th>2004-01-06</th>
      <td>1.001335</td>
      <td>1.004983</td>
      <td>1.014670</td>
      <td>1.013728</td>
      <td>1.006262</td>
      <td>1.011605</td>
      <td>1.020635</td>
      <td>1.023313</td>
    </tr>
    <tr>
      <th>2004-01-07</th>
      <td>1.002077</td>
      <td>1.005813</td>
      <td>1.017559</td>
      <td>1.014586</td>
      <td>1.014468</td>
      <td>1.010445</td>
      <td>1.010589</td>
      <td>1.025767</td>
    </tr>
    <tr>
      <th>2004-01-08</th>
      <td>1.002226</td>
      <td>1.001938</td>
      <td>1.021338</td>
      <td>1.019734</td>
      <td>1.021162</td>
      <td>1.013153</td>
      <td>1.024980</td>
      <td>1.029448</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
non_rebalance_df_alloc.plot(figsize=(16, 8))
plt.show()
#non_rebalance_df.sum(axis=1).plot(figsize=(16,8))
pass